# Build outputs
.next/
out/
build/
dist/
coverage/

# Dependencies
node_modules/

# Storybook build
storybook-static/

# Misc
package-lock.json
renovate.json
tools/prompts/*
# lib/fetcher/__tests__/api-client-factory.test.ts
