name: Publish Package

on:
  release:
    types: [created]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - run: echo "Publishing package..."

      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: "20"
      #     registry-url: "https://npm.pkg.github.com"
      #     scope: "@f88"

      # - run: npm ci

      # - run: npm test

      # - run: npm run build

      # - run: npm publish
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
